#gatito {
    width: 400px;
    height: 400px;
    animation: correr 0.01s steps(12) infinite;
}

@keyframes correr {
    0% { background-image: url('fila-1-columna-1.png'); }
    8% { background-image: url('fila-1-columna-2.png'); }
    16% { background-image: url('fila-1-columna-3.png'); }
    24% { background-image: url('fila-1-columna-4.png'); }
    32% { background-image: url('fila-2-columna-1.png'); }
    40% { background-image: url('fila-2-columna-2.png'); }
    48% { background-image: url('fila-2-columna-3.png'); }
    56% { background-image: url('fila-2-columna-4.png'); }
    64% { background-image: url('fila-3-columna-1.png'); }
    72% { background-image: url('fila-3-columna-2.png'); }
    80% { background-image: url('fila-3-columna-3.png'); }
    100% { background-image: url('fila-3-columna-4.png'); }
}
